.medium-width {
  padding: 4px 8px;
}

.small-width {
  padding: 2px 4px;
}

.tiny-width {
  font-size: 10px;
  padding: 1px 4px;
}

.ex-tiny-width {
  font-size: 10px;
  padding: 1px 2px;
}

.xx-tiny-width {
  font-size: 9px;
  padding: 0;
}
