.mobile-container .sp-wrapper,
.mobile-container .sp-layout,
.mobile-container .sp-editor,
.mobile-container .sp-file-explorer {
    height: 100%;
    min-width: 100vw;
}

.mobile-container .challenge-description-window {
    height: 600px;
}

.split-vertical {
    width: 100%;
}
