.challenge-content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.challenge-content pre {
  width: 100%;
  display: flex;
  height: 1000px;
}

.challenge-content h1 {
  font-size: 24px;
}

.challenge-content p {
  font-size: 16px;
}

.challenge-content ul {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 16px;
}

.preview-gif {
  cursor: pointer;
}
