.challenge-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.challenge-header h1 {
  font-weight: 600;
  margin: 0;
  display: flex;
  align-items: center;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  color: #e9e9e9;
  text-align: center;
  border-radius: 5px;
}

.badge-easy {
  background-color: #26d13462;
}

.badge-medium {
  background-color: #d181267e;
}

.badge-hard {
  background-color: #d1262662;
}

.ex-small-header h1 {
  font-size: 22px;
}

.small-header h1 {
  font-size: 28px;
}

.medium-header h1 {
  font-size: 30px;
}

.large-header h1 {
  font-size: 32px;
}

.ex-small-header .badge {
  font-size: 14px;
  gap: 3px;
  padding: 2px 6px;
}

.small-header .badge {
  font-size: 16px;
  gap: 4px;
  padding: 3px 8px;
}

.medium-header .badge {
  font-size: 18px;
  gap: 5px;
  padding: 4px 8px;
}

.large-header .badge {
  font-size: 20px;
  gap: 5px;
  padding: 4px 10px;
}
