.challenge-header-content-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.challenge-description-window {
  max-height: 1220px;
  overflow-y: auto;
  padding: 10px;
}
